body{
    margin: 0px;
    padding: 0px;
}

.header{
  background: linear-gradient(125deg, #0371b9 30%, #2e495b 20%);
    
}
.header .nav-link{
    color: #fff !important;
    font-weight: bold;
    font-size: 20px;
}
.navbar-brand{
    color: #fff !important;
    font-weight: bold;
}

.website{
  background: linear-gradient(135deg, #0371b9 52%, #2E4985 20%);
    border-radius: 11px;
}
.website h2{
    color: #fff;
    font-size: 47px;
}
.website p{
    color: #fff;
    line-height: 30px;
}
.btn1{
    background: #2a4561;
    border: none;
    color: #fff;
    padding: 7px 20px;
    border-radius: 6px;
    float: right;
}

.raju{
    width: 100%;
    padding: 8px 20px;
    background: #706a6a;
    color: #000;
    box-shadow: 0px 0px 10px;
}
.nav-link img{
  width: 41px;

}
.raju h2{
    color: #fff;
}
.raju p{
    color: #fff;
}
.raju{
    position: relative;
    z-index:1;
  
}

.raju:before{
    content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #0371b9;
  color: #fff;
  width: 0px;
  z-index: -1;
  }
  .raju:hover:before{
    width: 100%;
    transition: 1s;
  }







  .raju1{
    width: 100%;
    padding: 8px 20px;
    background: #706a6a;
    color: #000;
    box-shadow: 0px 0px 10px;
}
.raju1{
    position: relative;
    z-index: 1;
  }
  .raju1 h2{
    color: #fff;
  }
  .raju1 p{
    color: #fff;
  }
  .raju1::after{
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #0371b9;
    color: #fff;
    width: 0px;
    z-index: -1;
  }
  .raju1:hover:after{
    width: 100%;
    transition: 1s;
    height: 100%;
  }



  .raju2{
    width: 100%;
    padding: 8px 20px;
    background: #706a6a;
    color: #000;
    box-shadow: 0px 0px 10px;
}
.raju2 h2{
    color: #fff;
}
.raju2 p{
    color: #fff;
}
.raju2{
    position: relative;
    z-index:1;
  
}

.raju2:before{
    content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #0371b9;
  color: #fff;
  width: 0px;
  z-index: -1;
  }
  .raju2:hover:before{
    width: 100%;
    transition: 1s;
  }


  .carousel-inner .carousel-item .img-box {
    width: 145px;
    height: 145px;
}

  .slode_bgcolor {
    background-image: url(../images/background.png);
    padding: 7px;
    border-radius: 19px;
}

.futter{
    background-image: url(../images/futter_banner.jpg);
    background-position: center;
    height: 360px;
    position: relative;
}
.bg_futter{
  background-color: #0371b9d9;
    position: absolute;
    width: 100%;
    height: 360px;
}
.article li {
    list-style: none;
    line-height: 39px;
  }

  .article li a {
    text-decoration: none;
    color: #fff;
  }

  .article h3 {
    font-size: 23px;
    color: #fff;
    margin-top: 15px;
  }
  .fa-facebook{
    color: #004085;
    background: #efe7e7;
    padding: 7px;
    border-radius: 7px;
  }
.fa-linkedin{
  color: #0e76a8;
    background: #efe7e7;
    padding: 7px;
    border-radius: 7px;
}
.fa-twitter{
  color: #007bff;
  background: #efe7e7;
  padding: 7px;
  border-radius: 7px;
}
.fa-instagram{
  color: #e21d24;
  background: #efe7e7;
  padding: 7px;
  border-radius: 7px;
}
.fa-youtube-play{
  color: red;
  background: #efe7e7;
  padding: 7px;
  border-radius: 7px;
}
.fa-map-marker{
  color: #fff;
}
.fa-mobile{
  color: #fff;
}
.fa-envelope{
  color: #fff;
}
.map{
  max-width: 100%;

}
.close {
    text-align: right;
    color: red !important;
    opacity: 5 !important;
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 60% !important;
}
.skill{
  width: 100%;
  margin: 15px 0px;
  background: linear-gradient(125deg, #0371b9 28%, #2e495b 20%);
   border-radius: 6px;
}
  
  
  .skill h2{
    color: #fff;
    font-family: cursive;
    padding-left: 20px;

  }
  .html1{
    background-color: #3795d2;
      border-radius: 18px;
      padding: 10px;
  }
  .html1 h4 a{
    text-decoration: none;
    color: #000;
  }
  .html1 h4 a:hover{
    color: #fff;
  }
  .fa-hand-o-right {
    color: #fff;
    margin-right: 15px;
    background: #08629d;
    padding: 15px;
    border-radius: 50%;
}
.send {
    background-color: #007bff;
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.reset {
    background-color: red;
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
.about1{
  position: relative;
}
.raj{
  width: 100%;
    height: 100%;
    background: #0371b93d;
    position: absolute;
}
#myBtn:hover {
  background-color: #555;
}
.work2{
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-family: cursive;
  padding: 5px 18px;
  border-radius: 9px;
  background: linear-gradient(125deg, #0371b9 30%, #2e495b 20%);
}
.work{
  padding: 44px;
    box-shadow: 1px 1px 3px;
    position: relative;
}
.work:hover{
  background-color: #034b57f0;
  border: 5px solid #3795d2;
}
.click1{
  position: absolute;
  top: 37%;
  left: 37%;
  color: #fff;
    font-size: 20px;
  font-weight: bold;
  display: none;
  
}
.work:hover .click1{
display:block;
}

.conter1{
  background-image: url(../images/code_images.jpg);
  position: relative;
}
.number {
  text-align: center;
  padding-bottom: 50px;
  border-right: 1px dashed #fff;
}
.number h1{
 padding-top: 25px;
}

.number:last-child {
  border-right: 0px solid #fff;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
  color: #fff;
}

.icon1 {
  font-size: 35px !Important;
  color: #fff;
}
.number h3{
  color: #fff;
  line-height: 66px;
}
.col1{
  width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(3, 113, 185, 0.61);
    height: 100%;
}
.box1 {
  width: 11%;
    float: left;
    height: 65px;
    margin: 0px 15px;
    box-sizing: border-box;

}
.box1 img{
  max-width: 100%;
}
.hov:hover{
  background-color: #101213;
    border-radius: 14px;
    color: #0c9dfb !important;
}



  

@media only screen and (max-width: 500px) {
  .header {
    background: linear-gradient(125deg, #0371b9 50%, #2e495b 20%);
}
.website p{
  line-height: 28px;
}
  .futter {
    height: 629px;
}
.bg_futter {
  height: 667px;
}
.modal-content {
  padding: 6px;
  width: 94% !important;
}
.raju {
  margin-bottom: 27px;
  
}
.raju1 {
  margin-bottom: 27px;
}
.book1{
  margin-bottom: 15px;
}
.website {
  height: 695px;
}
.website1 {
  height: 400px !important;
}
.with1{
  font-size: 13px;
}
.html1{
  margin-bottom: 15px;
}
.box {
  margin: 2px;
    width: 13%;
}
.box1 {
  width: 10%;
    margin: 0px 5px;
}
.work{
  margin-top: 22px;
}
.skill {
  background: linear-gradient(125deg, #0371b9 56%, #2e495b 20%);
}
.work2 {
  background: linear-gradient(125deg, #0371b9 81%, #2e495b 20%);
}

}